<h1>New article.</h1>

<%= form_for :appointment, url: appointments_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', appointments_path %>
